*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(216,224,233);
}
#classPhotoWall header a{
    text-decoration: none;
}
#classPhotoWall .left{
    float: left;
}
button,input{
    outline:none;
}
/*头部*/
#classPhotoWall header button{
    float: right;
    width: 100px;
    height: 40px;
    background-color: rgb(52,122,182);
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    margin-right: 20px;
    box-sizing: border-box;
}
#classPhotoWall header{
    overflow: hidden;
}
#classPhotoWall header div{
    padding: 20px;
}
/*内容*/
#classPhotoWall section div div a{
    width: 370px;
    height: 300px;
    background-color:white;
    text-align: center;
    text-decoration: none;
    padding-bottom: 5px;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 10px #a0a0a0
}
#classPhotoWall section div div:hover a{
    border-color: transparent;
}
#classPhotoWall section div div a img{
    width: 350px;
    height: 250px;
}
#classPhotoWall section div div a span:nth-of-type(1){
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 33%;
}
/*删除*/
#classPhotoWall section div div a span:nth-of-type(2){
    position: absolute;
    right:10px;
    top:8px;
    font-size: 20px;
    color: white;
}

/*新增相册模态框内容样式*/
#exampleModal .modal-content{
    padding-left:50px;
    background-color: white;
    box-shadow:2px 2px 10px black;
}
#divAdd form input{
    display: inline-block;
    margin-left: 28px;
}
#divAdd form select:nth-of-type(1){
    margin-left: 25px;
}
#divAdd form textarea{
    width: 247px;
    height: 70px;
}
#divAdd form p:nth-of-type(1){
    margin-top: 20px;
}
#divAdd form p:nth-of-type(1)>select{
    height: 25px;
    line-height: 25px;
    margin-right: 40px;
}
#divAdd form p:nth-of-type(3)>textarea{
    width: 290px;
    margin-left: 27px;
}
#divAdd form p:nth-of-type(3){
    vertical-align: middle;
}
#divAdd form button{
    margin-left:100px;
    margin-top: 30px;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
#divAdd form button:nth-of-type(1){
    background-color: rgb(50,121,182);
}

#divAdd form button:nth-of-type(2){
    background-color: rgb(217,82,78);
}